%html
  %head
    %title Piedra-Papel-Tijera App
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    
  %body
    %ol
      %h3 RPS
      %a{:href => '?choice=Piedra'} Piedra
      %a{:href => '?choice=Papel'} Papel
      %a{:href => '?choice=Tijera'} Tijera

    %center
      %h1 WELCOME TO THE GAME
      %br

    
      %h3= answer